.para-guide {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .slide-pic {
    height: 500px;
    width: 500px;
  }
}

p:not(.foot) {
  text-align: justify;
}

.div-left-space {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: relative;
  height: 250px;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

div:not(.footer, .webgl-content) {
  word-wrap: break-word;
  width: 90%;
}

.sidenav {
  width: 150px;
  position: fixed;
  z-index: 1;
  left: 5px;
  background: #222;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

